{{#if this.show}}
<div class="ai-summary-box">
  <span class="ai-summary-title" title={{i18n "ai_topic_summary.heading.title"}}>{{i18n
      "ai_topic_summary.heading.text"
    }}</span><span class="ai-summary">{{this.args.text}}</span>
  <span class="ai-summary-downvote">
  <DButton
    class="ai-summary-downvote-button"
    @icon="thumbs-down"
    @title="ai_topic_summary.downvote"
    @disabled={{this.voted}}
    @action={{action this.downVote}}
  /><span class="ai-summary-downvote-count">{{this.localDownVotes}}</span>
  </span>
</div>
{{/if}}